// filter-card-item

.filter-card-item
	background-image: url('/image/card-bg.png')
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	padding-top: 10px;

	a
		text-decoration: none
		color: #646567
	a:hover
		color: #2980B9
	.scale
		transition: 0.5s
		-webkit-transition: 0.5s
		z-index: 100
	.scale:hover
		transform: scale(2)
		-webkit-transform: scale(2)

.card-container
	background: white
	width: 98%
	margin: 10px
	min-height: 322px

.card-content
	padding: 15px
	color: #646567

.card-date
	color: #8C9296
.card-img
	max-width: 100%
	height: 100px
	float: right



// pagination

.pagination-control
	color: #646567
	padding: 0 20px
	cursor: pointer
	font-weight: bold

.pagination-control:hover 
	color: #2980B9

.pagination-count
	color: #646567
	cursor: pointer
	font-weight: bold
	padding: 5px 10px
	outline: none

.pagination-count.active
	background: rgb(63,81,181)
	color: white
	border-radius: 100px

.pagination-count.active2
	padding: 9.5px 10px