@import "directives"

$silverLight: #fafafa
$textSilver: #646567
$SilverBlue: #eff3f6


body, html 
	overflow-x: hidden;

.ng-cloak
	display: none
header
	background: $silverLight
	input
		background-image: url('/image/search.png')
		background-repeat: no-repeat
		background-position: right
	> div
		padding: 16px 8px

.content
	background: $SilverBlue
	padding: 25px 0
	box-shadow: 3px 0px 2px 1px rgba(0,0,0,.2)



// inputs style

input
	outline: none
	border: 2px solid #DCDCDC

::-webkit-input-placeholder,
:-ms-input-placeholder 
	color: $textSilver

.md-subhead
	color: $textSilver

md-input-container
	width: 97%
	background: $silverLight
	border: 1px solid #DCDCDC
	md-text
		color:  $textSilver
	md-select
		margin: 0 !important
	md-select-value
		padding: 5px !important 
		border: none !important
	.md-select-value .md-select-icon:after,
	.md-select-value span
		color: $textSilver

.md-select-menu-container.md-active md-select-menu>*,
.md-select-menu-container.md-active md-select-menu
	transition: 0s !important

md-radio-group.layout-row md-radio-button
	margin: 0 16px !important

.md-datepicker-input-container
	margin-left: 0px !important
	width: 70% !important;

md-datepicker
	padding-right: 30px !important;

// classes

.p-10
	padding: 10px !important
.p-b-10
	padding-bottom: 10px !important
.m-t-5
	margin-top: 5px !important
.m-t-10
	margin-top: 10px !important
.m-t-20
	margin-top: 20px !important
.m-b-10
	margin-bottom: 10px !important
.border-bottom
	border-bottom: 2px solid #EFF1F2
	padding-bottom: 15px


