<div class="filter-card-item" flex='33' flex-xs='100' flex-sm='50' flex-md='50'  ng-repeat='some in card.data'>
	<div class="card-container">
		<div class="card-content" layout='column'>
			<div layout layout-wrap>
				<div flex='100' class='m-b-10'>
					<span class='md-display-1'>{{some.heading}}</span>
				</div>
				<div flex='50'>
					<p class='card-date m-t-20'>Date: {{some.date || '28.03.2016'}}</p>
				</div>
				<div flex='50'>
					<img ng-src="{{some.image1}}" class='card-img scale'>
				</div>
			</div>
			<div layout class='m-t-20'>
				<div flex layout-align="center center" >
					<p ng-repeat='link in some.links' >
						<a href="{{link.link}}" >{{link.text}}</a>
					</p>
				</div>
				<div flex='50'>
					<img ng-src="{{some.image2}}" class='card-img scale'>
				</div>
			</div>
		</div>
	</div>
</div>