<div layout-align="center center" layout class='pagination' layout-wrap>
	<div class="pagination-control" 
		ng-click='page.changePage(page.active = page.active - 1)'>
		PREVIOUS
	</div>

	<div class="pagination-count"
		ng-click='page.changePage($index + 1)'
		ng-class='{active: $index + 1 === page.active, active2: $index + 1 >= 10 }'
		ng-repeat='i in page.numToArray(page.data)  track by $index'
		ng-show='page.active + 10  >  $index + 1 && page.active < $index + 2'

		>
		{{$index + 1 }}
	</div>
	<div class="pagination-control" 
		ng-click='page.changePage(page.active = page.active + 1)'>
		NEXT
	</div>
</div>